html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        style
            include bootstrap.min.css
        style.
            
        

    body
        form(class="border rounded" id="questionForm")
            div(class="form-group")  
                label(for="city1")= departure 
                input(type="text" class="form-control" id="city1Input")

            div(class="form-group")
                label(for="city2")= arrival
                input(type="text" class="form-control" id="city2Input")

            div(class="form-group")
                label(for="trainNumber")= trainNumber
                input(type="number" class="form-control" id="trainNumberInput")

            button(type="button" class="btn btn-primary" id="fetchButton") Hae tiedot

            
        div(class="alert alert-danger" id="errorMessage")
        div(class="container-fluid border rounded" id="answer")
            div(class="row")
                h6(class="col" id="answerCity1") 
                div(class="col" id="city1Ready")
            div(class="row")
                div(class="col" id="city1Track")
            div(class="row") 
                div(class="col" id="city1DepartureTime")

            div(class="row mt-3")

            div(class="row")
                h6(class="col" id="answerCity2") 
                div(class="col" id="city2Ready")
            div(class="row")
                div(class="col" id="city2Track")
            div(class="row") 
                div(class="col" id="city2DepartureTime")

        h1(class="text-center" id="loadingIndicator") 

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/static/bootstrap.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/static/app.js")
        
