html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        style
            include bootstrap.min.css
        style.
            
        

    body
        form(id="questionForm")
            div(class="form-group")  
                label(for="city1")= departure 
                input(type="text" class="form-control" id="city1Input")

            div(class="form-group")
                label(for="city2")= arrival
                input(type="text" class="form-control" id="city2Input")

            div(class="form-group")
                label(for="trainNumber")= trainNumber
                input(type="number" class="form-control" id="trainNumberInput")

            button(type="button" class="btn btn-primary" id="fetchButton") Hae tiedot

            
            div(id="answer")
                p(id="answerCity1")
                p(id="answerField1")
                p(id="answerCity2")
                p(id="answerField2")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/static/bootstrap.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/static/app.js")
        
